*{
    box-sizing: border-box;
}


.bg{
    background-color: #cfd8dc;
}

.text{
       color: white
   }

   body{
       background-color:#616161;
   }
 
#generate {
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#generate:hover{
    color: black;
    background-color:turquoise;
    text-decoration: underline;
    font-weight: 800;
    box-shadow: 0 5px 5px 15px rgb(15, 255, 255);
}
.margin{

    margin-top: 100px;
}

.sidenav li {
    text-align: center;
    font-weight: bold;
    color: white
}

.sidenav p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}


.sidenav{
    background-color:#263238;
    position: absolute;
}

#map{
    height: 400px;
    width: 800px;
}

.mapboxgl-ctrl-geocoder--icon {
 display: none;
}


#map { 
    position: relative; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}
.modal-content {
    color:white;
    font-family: 'Crete Round', serif;
    box-shadow: 30px 30px 65px #888888;
}
.modal-content h4{
    color: yellow;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.modal {
    display: none;
    border-radius: 30px;
    border: 10px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
}

.modal-footer a{
color: grey;
font-weight: 600;
}

.nav-wrapper {
    padding-left: 20px;

}

.hide{
    display:none
}